<p id="notice"><%= notice %></p>
<h1>Your House Hold </h1>
<p><b>Name: </b><%= @house_hold.name %></p>

<%= link_to 'Edit', edit_house_hold_path(@house_hold) %> |
<%= link_to 'Back', house_holds_path %>
