// Place all the styles related to the house_holds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.error_panel_background {
  background-color:red!important;
}

.errors_list_color {
  color:black!important;
}

.inherit_table_bg_color {
  background-color:inherit!important;
}
.table_text_allign {
  text-align:left!important;
}