<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to "Households", house_holds_path %></li>
    <li><%= link_to "People", people_path %></li>
    <li><%= link_to "Tasks", tasks_path %></li>
  </ul>
</div>